{% extends "base.html" %}

{% block content %}
    {% if "инженер" in title or "строитель" in title %}
        <h4 style="text-align: center ">Инженерные тренажеры </h4>
        <img src="{{ url_for('static', filename='img/imm.jpg') }}"
                        alt="здесь должна была быть картинка, но не нашлась" width=800>
    {% else %}
       <h4 style="text-align: center ">Научные симуляторы</h4>
       <img src="{{ url_for('static', filename='img/imm2.jpg') }}"
                        alt="здесь должна была быть картинка, но не нашлась" width=800>
    {% endif %}
{% endblock %}